.contactosbackground{background-image: url("../images/DAM5610_Las-aves-y-sus-particularidades-fac.jpg");
    background-size:cover;
  
    .contactos1{background-color: $light-color;
      display: inline-block;
      width: 40%;
    text-align:center;
    font-size: 24px; 
    margin: 30px;
    padding: 50px;
    border: 2px inset #2d1e8367;
    border-radius: 5%;}
  }
  
    .formulario{display: inline-flex;
      background-color: rgb(201, 217, 218);
      padding: 10px;
      border: #6b1e83 2px inset;
      gap: 1px 100px;}