.conservacion{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  
    .conservacion1{background-color: $light-color;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      width: 90%;
    text-align: justify;
  object-fit: cover;
  font-size: 20px;
  border: inset 1px #2d1e8367;
  border-radius: 5%;
  padding: 10px 5px;

h2{font-weight: bold;
  padding: 5px 10px;
justify-content: center;}
p{padding: 5px 10px;
justify-content:baseline;} 
img{height: 350px;
  object-fit: cover;
  padding: 30px 1px;
  border-radius: 15%;}
}
}
      
    
  .tabuladorproteccion{font-size: 20px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-areas:
  'area1 area2'
  'area3 area4'
  'area5 area6' ;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  column-gap: 5px;
  row-gap: 5px;

    img{align-items: center;
      width: 200px;
      height: 200px;
    padding: 5px 2px;
  border-radius: 5%;}

    .proteccion{
      text-align: center;
    
      .a1{grid-area: area1;}
      .a2{grid-area: area2;}
      .a3{grid-area: area3;}
      .a4{grid-area: area4;}
      .a5{grid-area: area5;}
      .a6{grid-area: area6;}} 
}
