.index1{
    display: flex;
    width: 80%;
    padding: 15px;
  gap: 1px 120px;

  img{display: flex;
    width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 60%;}

  .index2{background-color: $light-color;
    display: flex;
  text-align:center;
font-size: 22px; 
margin: 30px;
padding: 50px;
border-radius: 5%;
border: 1px inset #2d1e8367;}
}
    
.index-img{display: flex;
  gap: 1px 15px;
  
  img{display: inline-block;
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 60%;
}
}