@media only screen and (min-width: 768px) and (max-width: 1023px){
  

    .menu-navegador{justify-content: center; align-items: center;}
    
  .index1 img {display: flex;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 60%;
    border: 2px outset #2d1e8367;}
    .index2{display: flex;
      flex-direction: column;
    justify-content: center;
    align-self: center;}
    .index2 p{text-align: center; justify-items: center;}
    .index-img{display: flex;
    flex-direction: column;
    align-items: center;}
    
  
  .ambiente{display: flex; flex-direction: column-reverse; flex-wrap: wrap;}
  .ambiente1 img{height: 200px;}
  .abiente1 h2,p{font-size: 10px; text-align: center; justify-items: center; padding: 0;}
  
  .conservacion1 img{height: 200px;}
    .conservacion1 h2,p{font-size: 15px; text-align: center; justify-items: center;
      padding: 10px 15px;}
  
    .tipos{display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      }
      .tipos1,.tipos2,.tipos3{text-align: center;}
    }
  
    
  @media only screen and (max-width: 767px){
    
    .menu-navegador{flex-direction: column;}
  .menu-navegador ul{flex-direction: column;}
    
  .index1{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 15px;
  gap: 1px 120px;}
    .index1 img{display: flex;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 60%;
      border: 2px outset #2d1e8367;}
    .index2{background-color: rgba(33, 121, 148, 0.199);
    display: flex;
  text-align:center;
  font-size: 14px; 
  margin: 30px;
  padding: 50px;
  border: 2px inset #2d1e8367;
  border-radius: 15%;}
  .index-img{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 60%;}
  
  .ambiente{display: flex; flex-direction: column-reverse; flex-wrap: wrap;
    .ambiente1{flex-wrap: wrap;
    
      img{height: 100px;}

      h2{font-size: 12px; text-align: center; justify-items: center; padding: 0;}
      p{font-size: 12px; text-align: center; justify-items: center; padding: 0;}}
    
  }
 
    .tabula{
      font-size: 15px;
        justify-items:center;
        align-items: center;
    display: grid;
    grid-template-areas:
    'area1'
    'area2'
    'area3'
    'area4'
    'area5'
    'area6' ;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
  
    .tabula__hijo{display: flex;
      justify-content: center;
      align-items: center;
    
      img{ width: 30%;
        height: 30%;
      padding: 5px 2px;}
    

      h2{ padding: 10px 15px;}
    
      .b1{grid-area: area1;}
      .b2{grid-area: area2;}
      .b3{grid-area: area3;}
      .b4{grid-area: area4;}
      .b5{grid-area: area5;}
      .b6{grid-area: area6;}
    }
    }
    
      
      
  
      .familia1{display: inline-block;
        text-align:center;
        
        .familia2{ background-color: rgba(33, 121, 148, 0.199);
          display: inline-block;
      text-align:center;
    font-size: 15px; 
    margin: 30px;
    padding: 50px 20px;
    border: 2px inset #2d1e8367;
    border-radius: 15%;
    overflow: hidden;}
      }
        
      
      .tipos{display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px 20px;
    
      .tipos1{background-color: $light-color;
        padding: 5px 2px;
        text-align: center;
        font-size: 15px;
        display: inline-block;
        width: 80%;
        border-radius: 5%;
        border: 1px solid #2d1e8367;
        margin: 15px;
      
      h2{padding: 10px;}
      p{padding: 10px;} 
  
      img{width: 100%;
        height: 300px;
        border-radius: 5%;}
    }
  
    .tipos2{background-color: $light-color;
      padding: 5px 2px;
      text-align:center;
    font-size: 15px;
      display: inline-block;
      width: 80%;
    border-radius: 5%;
      border: 1px solid #2d1e8367;
      margin: 15px;
    object-fit: cover;
  
    h2{padding: 10px;}
    p{padding: 10px;} 

    img{width: 100%;
      height: 300px;
      border-radius: 5%;}
  }


  .tipos3{background-color: $light-color;
    padding: 5px 2px;
    text-align:center;
  font-size: 15px;
    display: inline-block;
    width: 80%;
    border-radius: 5%;
    border: 1px solid #2d1e8367;
    margin: 15px;
  object-fit: cover;

  h2{padding: 10px;}
  p{padding: 10px;} 

  img{width: 100%;
    height: 300px;
    border-radius: 5%;}
}
  }
      
      
      
      
      
  
            .conservacion{display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;}
                .conservacion1{background-color: $light-color;
                  display: flex;
                  flex-direction: row-reverse;
                  flex-wrap: wrap;
                  width: 90%;
                text-align: center;
              object-fit: cover;
              border: inset 1px #2d1e8367;
              border-radius: 5%;
              padding: 10px 5px;}
              .conservacion1 h2, .conservacion1 p{font-size: 12px;
                padding: 10px 15px;}
            .conservacion1 img{width: 100%;
              height: auto;
              object-fit: cover;
              padding: 15px 1px;
              border-radius: 15%;}
            .tabuladorproteccion{font-size: 24px;
              gap: 50px;
              justify-content: center;
              align-items: center;
              text-align: center;}
              .tabuladorproteccion ul {display: inline;
                padding: 10px;}
  
                .contactos1{background-color: rgba(33, 121, 148, 0.959);
                  display: inline-block;
                  width: 40%;
                text-align:center;
              font-size: 24px; 
              margin: 30px;
              padding: 50px;
              border: 2px inset #2d1e8367;
              border-radius: 80%;}
                    .contactos2{display: inline-flex;
                      background-color: rgb(201, 217, 218);
                      padding: 10px;
                      border: #6b1e83 2px inset;
                      gap: 1px 100px;}
  
                      .contactosbackground{background-image: url("../images/DAM5610_Las-aves-y-sus-particularidades-fac.jpg");
                        background-size:cover;}
                      .contactos1{background-color: rgba(33, 121, 148, 0.959);
                      display: inline-block;
                      width: 40%;
                    text-align:center;
                  font-size: 24px; 
                  margin: 30px;
                  padding: 50px;
                  border: 2px inset #2d1e8367;
                  border-radius: 5%;}
                        .contactos2{display: inline-flex;
                          background-color: rgb(201, 217, 218);
                          padding: 10px;
                          border: #6b1e83 2px inset;
                          gap: 1px 100px;}
                          .video{display: flex;
                          width: 80%;
                        height: auto;}
                      }