footer{ background-color: #415851;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
color: #191919;
padding: 25px;
text-align: center;



.footer_izq{width: 90%;
    height: 123px;
    background-color: $light-color;
    border: 2px inset #2d1e8367;

    }

.footer_centro{
    background-color: $light-color;
    border: 2px inset #2d1e8367;

    }

    
}