footer{ background-color: #415851;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
color: #191919;
padding: 25px;
text-align: center;

.footer_der{display: inline-flex;
    background-color: $light-color;
    border: #6b1e83 2px inset;
    margin: 20px auto auto auto;
    }
}