.menu-navegador{display: flex; 
    background-color: #415851;
    justify-content: space-between;
    flex-wrap: wrap;

  a{display: flex;
      text-transform: uppercase;
      font-size: 24px;
      padding: 20px;
      gap: 10px;
      color: orange;
    justify-content:center;
    align-items:center;}

    ul {list-style-type: none;
      display: flex; 
    justify-content: flex-end;
  color: orange;}

  img{border-radius: 80%;
    width: 5%;
    height: 5%;
    object-fit: cover;
  display: flex;
  text-align: center;
  justify-content: center;}
    }
  

  
    a{ 
      &:visited {background-color: darkslategrey;
        color: #000000;}
      
        &:active {background-color: yellow;
          color: rgba(0, 0, 0, 0.336);}

          &:hover {font-weight: bold;
            padding: 1px;
            background-color: $light-color;
            color: azure;
            transition: .5s;
            border-radius: 10%;}
}
